<section>
  <form (submit)="onSubmit()">
    <label>Enter the username</label>
    <input
      [ngModel]="user.username"
      placeholder="Username"
      name="username"
      required
    />
    <label>Enter the email</label>
    <input
      [ngModel]="user.email"
      type="email"
      name="email"
      placeholder="Email"
      required
    />
    <label>Enter the password</label>
    <input
      [ngModel]="user.password"
      type="password"
      name="password"
      placeholder="Password"
      required
    />
    <label>Repeat the password</label>
    <input
      [ngModel]="user.password"
      type="password"
      name="password"
      placeholder="Repeat Password"
      required
    />

    @if (passwordMismatch){
      <div class="error">Passwords do not match</div>
    }
    <button type="submit">Register</button>
  </form>
</section>
