<section class="details-section">
    <h2>Detalles del Proyecto</h2>
    <form>
      <label for="projectName">Nombre del Proyecto</label>
      <input
        type="text"
        id="projectName"
        name="projectName"  
        ngModel="project.name"
      />
  
      <label for="description">Descripción</label>
      <textarea
        id="description"
        rows="5"
        name="description"  
        ngModel="project.description"
      ></textarea>

      <label for="projectName">Tipo de proyecto</label>
      <input
        type="text"
        id="projectName"
        name="projectName"  
        ngModel="project.name"
      />
  
      <label for="projectName">Miembros</label>
      <input
        type="text"
        id="projectName"
        name="projectName"  
        ngModel="project.name"
      />

      <label for="projectName">Empresa</label>
      <input
        type="text"
        id="projectName"
        name="projectName"  
        ngModel="project.name"
      />

      <label for="projectName">Fecha de Inico</label>
      <input
        type="text"
        id="projectName"
        name="projectName"  
        ngModel="project.name"
      />

      <label for="projectName">Fecha final</label>
      <input
        type="text"
        id="projectName"
        name="projectName"  
        ngModel="project.name"
      />
  
      <button type="button" class="btn-primary" (click)="saveDetails()">Guardar Cambios</button>
    </form>
  </section>
  