.header {
  display: flex;
  flex-direction: column;
  border: 1px solid #6d1fff;
  background-color: #161616;
  width: 60%;
  position: absolute;
  z-index: 2;
  top: 3%;
  left: 35%;

  .topSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem;
    border-bottom: 1px solid #6d1fff;

    img{
      width: 30px;
      height: auto;
    }
  }

  .logSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    background-color: #6d1fff;

    a {
      color: white;
      text-decoration: none;
    }

    .divider {
      height: 15px;
      background-color: white;
      width: 1px;
    }
  }

  .index {
    display: flex;
    flex-direction: column;

    .indexLinks {
      .functions {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #6d1fff;
        a {
          border: 0;
        }
      }

      .options {
        display: flex;
        flex-direction: column;
        background-color: white;
        a {
          color: black;
          padding: 0.5rem;
          border-bottom: 1px solid #6d1fff;
        }
      }
    }

    a {
      color: white;
      text-decoration: none;
      padding: 0.5rem;
      border-bottom: 1px solid #6d1fff;
    }
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
