header {
  background-color: #6200ff;
  color: white;
  padding: 10px;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      list-style: none;
      display: flex;
      gap: 15px;
      li {
        a {
          color: white;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
    div {
      button {
        background-color: #3700b3;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }

    @media (max-width: 460px) {
      display: none;
    }
  }

  .headerMobile {
    display: none;



    @media (max-width: 460px) {
      display: flex;
      justify-content: end;
    }
  }
}
