<section class="home">
    <h1>Bienvenido a Ixtar</h1>
    <p>
      Esta es la plataforma donde puedes gestionar tus proyectos de manera
      eficiente.
    </p>
  
    <button type="button" class="btn-primary" (click)="openProjectModal()">Nuevo Proyecto</button>
    @if (showModal){
      <div class="project-modal">
        <app-project-modal (projectCreated)="handleProjectModal($event)"></app-project-modal>
      </div>
      
    }
  </section>
  
  <section class="do-section">
    <h2>¿Qué puedes hacer?</h2>
    <div class="do-container">
      <div class="do-item">
        <h3>Gestionar tus proyectos</h3>
        <p>Indica todas las partes importantes del proyecto.</p>
      </div>
      <div class="do-item">
        <h3>Lluvia de ideas</h3>
        <p>
          Escribe y plasma todas tus ideas para hacer el mejor proyecto posible.
        </p>
      </div>
      <div class="do-item">
        <h3>Administrar proyectos</h3>
        <p>Indica en qué proceso está tu proyecto.</p>
      </div>
    </div>
  </section>
  