:host {
    background-color: rgb(135, 116, 241);
    color: var(--kanban-task-text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    border-radius: 8px;
    margin-bottom: 0.5rem;
  }
  
  .task__description {
    outline: none;
    word-break: break-word;
  }
  
  .task__delete {
    background: none;
    border: none;
    cursor: pointer;
    flex-shrink: 1;
    margin-left: 1rem;
  
    img {
      position: relative;
      top: 2px;
      filter: saturate(0) brightness(1.5);
      transition: filter 300ms ease-in-out;
    }
  
    &:hover img,
    &:focus img {
      filter: none;
    }
  }